

.description{
background-color: #0e73c0;
  border-radius: 10px;
  color: rgb(10, 10, 10);
  padding: 8px 15px;
  border: none;
  outline: none;
  box-shadow: 0 10px 20px #0d6cb5;
 
}

.lista-description{
    display: grid;
    height: 100%;
    list-style: none;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows:  repeat(3,10vh);
    justify-content: center;

}