/* ===== STATUS ===== */
.status {
  font-size: 3.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* ===== BOARD ===== */
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: clamp(280px, 40vw, 600px);
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

/* ===== SQUARE ===== */
.square {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: clamp(2rem, 5vw, 5rem);

  border: 2px solid white;
  background: transparent;
  color: white;

  cursor: pointer;
}

/* ===== BORDES DEL TIC TAC TOE ===== */

/* quitar borde superior */
.square:nth-child(-n + 3) {
  border-top: none;
}

/* quitar borde inferior */
.square:nth-child(n + 7) {
  border-bottom: none;
}

/* quitar borde izquierdo */
.square:nth-child(3n + 1) {
  border-left: none;
}

/* quitar borde derecho */
.square:nth-child(3n) {
  border-right: none;
}

/* ===== DESKTOP GRANDE ===== */
@media (min-width: 1200px) {
  .board {
    width: 600px;
  }
}

/* ===== TABLET ===== */
@media (max-width: 1200px) {
  .board {
    width: 500px;
  }

  .status {
    font-size: 2.5rem;
  }
}

/* ===== MOBILE ===== */
@media (max-width: 720px) {
  .board {
    width: 300px;
  }

  .status {
    font-size: 2rem;
  }

  .square {
    font-size: 3rem;
  }
}
