.status {
  font-size: 3.2rem;
  margin-bottom: 10px;
  text-align: center;
  margin: 0 auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vh);
  margin-bottom: 0.1rem;
  
}

/* quitar borde superior */
.square:nth-child(-n + 3) {
  border-top: none;
}

/* quitar borde inferior */
.square:nth-child(n + 7) {
  border-bottom: none;
}

/* quitar borde izquierdo */
.square:nth-child(3n + 1) {
  border-left: none;
}

/* quitar borde derecho */
.square:nth-child(3n) {
  border-right: none;
}

@media (max-width: 660px){
  .board{
    width: 100%;
    margin: 0 auto;
    margin-left: 25%;
  }
}