.marcador {
  position: absolute;
  top: 20px;
  left: 46%;
  width: 120px;
  
}

.puntos {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.letter-marcado {
  font-size: 2rem;
  margin: 0;
}

.punto-x,
.punto-o {
  font-size: 1.2rem;
}
