
.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
.menu{
    width: 50%;
    text-align: center;
}

.slide-in{
    
    animation: glow 2s ease ;
}

@keyframes glow{
    from{
        
            transform: scaleX(0%) ; 
            opacity: 0.6;
        
    }
    to{
        transform: scaleX(100%) ; 
        opacity: 1;
    }
}