.square {
  width: 10vw;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  line-height: 1;

  box-sizing: border-box;
  border: 1px solid #999;
  cursor: pointer;
}

.square:focus {
  outline: none;
}
