.game {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  justify-content: center;
  align-items: center;
}


.menu-juego button {
  background-color: #0e73c0;
  border-radius: 10px;
  color: rgb(10, 10, 10);
  padding: 8px 15px;
  border: none;
  outline: none;
  box-shadow: 0 10px 20px #0d6cb5;
  margin: 10px 15px;
  transition: all 0.8s ease;
}

.menu-juego button:hover {
  transform: scale(1.1);
}

.menu-juego {
  align-items: center;
  justify-content: center;
}
.slide-left {
  position: absolute;
  inset: 0;
  animation: slide 1s ease forwards;
  
}
@keyframes slide {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}